<script>
  $(function(){
  	$(window).load(function(){ // On load
  		$('.wavebox-container .wavebox-content').css({'height':(($(window).height()))+'px'});
  	});
  	$(window).resize(function(){ // On resize
  		$('.wavebox-container .wavebox-content').css({'height':(($(window).height()))+'px'});
  	});
  });
</script>

<script>
  $(function () {
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('1a5bf2d16cdc6eef2287');
    var thisWaveId = $("#js-wave-id").val();
    var channelName = 'meow';
    var channel = pusher.subscribe(channelName);
    
    channel.bind('updated', function(data) {
      $("#wave-title").empty().val(data.title);
      $("#wave-content").empty().val(data.content);
    });
    
    var timeoutId = 0;
    
    $(".wave").keyup(function (event) {
      clearTimeout(timeoutId);
      timeoutId = setTimeout(submitPusher, 300);
    });
    
    function submitPusher () {
      var valuesToSubmit = $(".wave").serialize();
      
      $.ajax({
        url: "/waves/" + thisWaveId,
        type: "PUT",
        data: valuesToSubmit
      });
    }
  });
</script>

<% var wave_id = thisWave.get('id') %>
<input type="hidden" id="js-wave-id" value="<%= wave_id %>">

<div class="wavebox-container">
  <div class="wavebox-content">
    <form class="wave">
      <input type="hidden" name="wave[id]" value="<%= wave_id %>">
      
      <input type="text" 
        id="wave-title"
        name="wave[title]" 
        placeholder="title"
        value="<%= thisWave.get('title') %>">
      <textarea id="wave-content" 
        name="wave[content]"
        data-provide="markdown-editable">
<%= thisWave.get('content') %></textarea>
    </form>
    <div class="save-button">
      <button class="button" id="save-button">Save</button>
    </div>
    <div class="revert-button">
      <button class="button disabled-button" id="revert-version">Revert</button>
    </div>
    <div class="commit-button">
      <button class="button disabled-button" id="commit-to-version">Commit</button>
    </div>
    <div class="back-button">
      <button class="button" id="back-to-waves">Back</button>
    </div>
      
  </div>
  
  <div class="versions">
    <h2>Versions</h2>
    <ul>
      <% thisWave.get('versions').each(function (version) { %>
        <a href="#" class="version-link">
          <li>
            <% var versionDT = new Date (version.escape('save_time')); %>
            <% var versionMonth = versionDT.getMonth() + 1; %>
            <% var versionDay = versionDT.getDate(); %>
            <% var versionYear = versionDT.getFullYear(); %>
            <% var versionHours = versionDT.getHours(); %>
            <% if (versionHours.toString().length == 1) { %>
              <% versionHours = '0' + versionHours; %>
            <% } %>
            <% var versionMinutes = versionDT.getMinutes(); %>
            <% if (versionMinutes.toString().length == 1) { %>
              <% versionMinutes = '0' + versionMinutes; %>
            <% } %>
            <button class="button version-display-link" 
              data-id="<%= version.get('id') %>">
              <%= versionMonth %>/<%= versionDay %>/<%= versionYear %> 
                - <%= versionHours %>:<%= versionMinutes %> 
            </button>
          </li>
        </a>
      <% }); %>
    </ul>
  </div>
  
  <div class="wavebox-contacts">
    <div class="in-wave">
      <% var allUsers = JSON.parse($('#all_users_json').html()); %>
      <% var thisWaveCreator; %>
      <% _(allUsers).each(function (user) { %>
        <% if (user.id == thisWave.get('user_id')) { %>
          <% thisWaveCreator = user; %>
        <% } %>
      <% }); %>
      <h2>Wave Creator</h2>
        <ul><%= thisWaveCreator.email %></ul>
        
      <div class="separator"></div>
      
      <div class="add-to-wave">
        <h2>Add to Wave</h2>
        <form class="friend-search-box">
          <input type="text" 
            data-provide="typeahead" 
            autocomplete="off" 
            class="typeahead"
            id="search-friends"
            placeholder="Friend's name">

          <button class="friend-search-submit">+</button>
        </form>
    
        <form class="add-user-to-wave">
          <input type="submit" 
            id="submit-wave-to-user"
            style="visibility:hidden">
        </form>
      </div>
        
      <div class="separator"></div>
        
      <h2>Others in Wave</h2>
      <ul id="js-new-wave-user">
        <% _(thisWave.get('friends')).each(function (friend) { %>
          <%= friend.email %>
        <% }); %>
      </ul>
    </div>
  </div>
</div>

<script>
  var all_users = JSON.parse($("#all_users_json").html());
  
  $(function() {
    var typeAhead = {};
  
    typeAhead.Person = Backbone.Model.extend({});

    typeAhead.People = Backbone.Collection.extend({
      model: typeAhead.Person
    });

    dataset = [];
    
    _(all_users).each(function (user) {
      dataset.push(user)
    });

  	$(".typeahead").typeahead({
      source: function (query, process) {
        userObjs = {};
        userEmails = [];

        _.each(dataset, function(item, ix, list) {
          userEmails.push(item.email);
      
          userObjs[item.email] = item;
        });
    
        process(userEmails);
      }
  	});
  });
</script>
