<div class="splash-container">
  <div class="splash-header">
    <div class="splash-header-menu">
      <div class="header-links">
        <span class="header-menu-link">
          <a href="http://jhaley1.github.io" class="header-link">About</a>
        </span>
        <span id="separator">|</span>
        <span class="header-menu-link">
          <a href="http://www.github.com/jhaley1" class="header-link">Github</a>
        </span>
        <span id="separator">|</span>  
        <span class="header-menu-link">
          <a href="http://www.linkedin.com/in/jhaley1" class="header-link">LinkedIn</a>
        </span>
        <span id="separator">|</span>
        
      </div>
      
      <div class="header-log-in">
        
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div id="log-in-fields">
            <%= f.email_field :email, :placeholder => "email", :id => "email-field" %>
            <%= f.password_field :password, :placeholder => "password", :id => "password-field" %>
            <%= f.submit "Sign in", :class => "sign-in-button" %>
          </div>
          
          <div id="log-in-extras">
            <div id="checkbox-style">
              <% if devise_mapping.rememberable? %>
                <div id="checkbox">
                  <%= f.check_box :remember_me %>
                </div>
                <div id="checkbox-text">
                  <%= f.label :remember_me, :id => 'checkbox-text-style' %>
                </div>
              </div>
            <% end -%>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="splash-header-logo">
      <img src="/assets/gull.png" class="logo" /> <div id="wavly-title">Wavly</div>
    </div>
    
    <div class="splash-header-subtitle">
      <span id="wavly-subtitle">Real-time collaborative chatting.</span>
    </div>
    
    <div class="splash-header-sign-up">
      <%= button_to "Sign up", 
        new_user_registration_url,
        :method => "get", 
        :class => "sign-up-button" %>
    </div>
    
    <div class="demo-accounts">
      <div class="demo-account-link1">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= f.email_field :email, 
            :type => "hidden", 
            :id => "email-field",
            :value => "demo1@demo1.com" %>
        <%= f.password_field :password, 
          :type => "hidden",
          :id => "password-field",
          :value => "password" %>
          <%= f.submit "Demo account 1", :id => "demo-button" %>
        <% end %>
      </div>
    
      <div class="demo-account-link2">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <%= f.email_field :email, 
            :type => "hidden", 
            :id => "email-field",
            :value => "demo2@demo2.com" %>
        <%= f.password_field :password, 
          :type => "hidden",
          :id => "password-field",
          :value => "foodfood" %>
          <%= f.submit "Demo account 2", :id => "demo-button" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="splash-body">
    <div id="body-about">
      <span class="body-header">About Wavly:</span>
      <ul>
        Wavly is based on Google/Apache Wave and Google Docs-like services.
        It allows for real-time collaborative typing between users - this means 
        that as soon as you update the 'Wave' in your browser, the 'Wave' will 
        update for all users who have access to that 'Wave'.
        <br><br>
        WebRTC is pretty new and not yet widely supported so unfortunately I 
        can only guarantee that it will work in the most recent versions of 
        Firefox and Chrome - so make sure they're updated (which you should 
        anyway! :) ). 
      </ul>
    </div>
    
    <div id="body-features">
      <span class="body-header">Features:</span>
      <ul>
        <li>Real-time collaborative typing between multiple users</li>
        <li>Updates as you type</li>
        <li>Save and version 'Waves'</li>
        <li>Commit to and revert from 'Waves'</li>
        <li>CSS/HTML done by hand</li>
        <li>Markdown support through Bootstrap Markdown</li>
        <li>Use of Thin server to allow for asynchronous responses</li>
      </ul>
    </div>
    
    <div id="body-tech">
      <span class="body-header">Technologies Used:</span>
      <ul>
        <li>Backbone.js</li>
        <li>JavaScript</li>
        <li>AJAX</li>
        <li>WebRTC</li>
        <li>Pusher</li>
        <li>Ruby on Rails</li>
        <li>CSS (SASS)</li>
        <li>HTML</li>
        <li>jQuery</li>
      </ul>
    </div>
    
    <div id="body-contact">
      <span class="body-header">Contact Me:</span>
      <ul>
        <li>Email: jlhaley1@gmail.com</li>
        <li>Profile: <a href="http://jhaley1.github.io" class="footer-link">http://jhaley1.github.io</a></li>
        <li>Github: <a href="http://www.github.com/jhaley1" class="footer-link">http://www.github.com/jhaley1</a></li>
        <li>LinkedIn: <a href="http://www.linkedin.com/in/jhaley1" class="footer-link">http://www.linkedin.com/in/jhaley1</a></li>
        <br>
        If you'd like to view my resume, please send me an email, and I'll 
        forward it to you as soon as possible!
      </ul>
    </div>
  </div>

</div>

